<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<head>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>


<ul>
    <li><a href="patient.html">Patient</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="doctor.html">Doctor</a></li>
    <li><a href="schedule.html">Schedule</a></li>
    <li><a href="visit.html">Visit</a></li>
    <li><a href="frontdeskstaff.html">Front Desk Staff</a></li>
</ul>
<script src="lib/jquery-v1.11.1.js"></script>
<script src="lib/angular-v1.2.22.js"></script>
</body>
</html>